*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: green;
}

#desc{
    width: 640px;
    height: 640px;
    background-color: antiquewhite;
    margin: auto;
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(25% - 10px);
    height: calc(33.33% - 10px);
    border-right: solid 1px silver;
    border-bottom: solid 1px silver;
    margin: 5px;
    position: relative;
}


.front, .back{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: aqua;
    position: absolute;
}

.back {
    visibility:hidden;
}

.front:active{
    transform: scale(0.9);
    transition: 0.3s;
}


.card.flip{
    transform: rotateY(180deg);
    transition: 0.3s;
}